*.project
*.pydevproject
*.pyc
*.bbl
*.asv
doc/manual/manual.aux
doc/manual/manual.blg
doc/manual/manual.synctex.gz
doc/manual/manual.log
doc/manual/manual.out
doc/manual/manual.toc
heatmap.npy
heatmap.png
xor_net_small_1000.txt
xor_net_small_1000_newformat.txt
xor_net_small_1000m.txt
xor_net_small_1000m_newformat.txt
hm_m.png
python/.vscode/launch.json
